@{
    ViewBag.Title = "About";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
@*<h2>@ViewBag.Title.</h2>*@
<h2>Strona na zaliczenie przedmiotu: Programowanie aplikacji WEB</h2>
<h3>Autorzy: <br /></h3> 
<h4>
    <ul>
        <li>Katarzyna Jaczewska, nr albumu: 3925 </li>
        <li>Tomasz Nawrat, numer albumu: 4060</li>
    </ul>   <br />
 </h4>

<p>Ewidencja środków trwałych jest przeznaczona dla średnich i małych przedsiębiorstw, 
    które chcą w pełni nadzorować stan oraz koszty środków trwałych w swojej firmie.</p>
 <p>W zależności od rodzaju wyposażenia możemy przypisać odpowiednią amortyzację, 
    sprawdzić stan wartości zakupu lub wartość teraźniejszą. 
    System obsługuje również raportowanie miesięczne/roczne/według lokalizacji w zależności od potrzeb.</p>

<p>Aplikacja jest podzielona na uprawnienia użytkowników:
   <ul>
       <li>administrator - osoba mająca pełny dostęp do systemu oraz bazy danych</li>
       <li>kierownik - pracownik, który posiada pełny zakres uprawnień</li>
       <li>pracownik - uprawnienia są nadane w odpowiednim zakresie jego obowiązków.</li>
   </ul> 
</p>

<p>Pełna funkcjonalność strony dostępna jest po zalogowaniu się.</p>
