@{
    ViewBag.Title = "Strona Główna";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Content("~/Content/images/logo_eu.png")" />
        </div>
        <div class="col-md-9">
            <h1>Środki Trwałe</h1>
            <h2>Aplikacja do zarządzania Środkami Trwałymi</h2>
            
        </div>
    </div>
</div>


@*<div class="jumbotron text-center">
    <h1>Środki Trwałe</h1>
    <p class="lead">Aplikacja do zarządzania Środkami Trwałymi</p>
</div>*@

<div class="row text-center">
    <p>Strona na zaliczenie przedmiotu: Programowanie aplikacji WEB</p>
</div>