
@{
    ViewBag.Title = "AssetDepreciationParameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h2>AssetDepreciationParameters</h2>

