
@{
    ViewBag.Title = "Błąd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h3>Nie mozna usunąć już użytej przyczyny zmiany wartości.</h3>
<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>

