
@{
    ViewBag.Title = "Błąd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}

<h3>Nie można usunąć lokalizacji, jeśli jest użyta w co najmniej jednym środku trwałym.</h3>
<div>
    @Html.ActionLink("Powrót do listy", "Index")
</div>
