@model FixedAssets.Models.AssetLocation

@{
    ViewBag.Title = "Usuwanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}
<h2>Usuwanie</h2>

<h3>Czy na pewno usunąć wybraną lokalizację??</h3>
<div>
    @*<h4>Lokalizacja</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /><br />
        </div>
    }
    <div>
        @Html.ActionLink("Powrót do listy", "Index")
    </div>
</div>
