@{
    ViewBag.Title = "Potwierdzenie zresetowania hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Hasło zostało zresetowane. @Html.ActionLink("Kliknij, aby zalogować się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
