@model FixedAssets.Models.IndexViewModel
@{
    ViewBag.Title = "Ustawienia konta";
}

@if (Request.IsAuthenticated && User.IsInRole("Supervisor") && User.IsInRole("Admin"))
{
    <p class="under-menu"><br /></p>
}

<h3>@ViewBag.Title.</h3>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zmień ustawienia konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmiana hasła", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Ustaw hasło", "SetPassword")
            }
            ]
        </dd>

    </dl>
</div>
